<div class="wrapper wrapper-content animated fadeInRight">
    <!-- PAGE CONTENT BEGINS -->
    <div class="row">


        <div class="col-xs-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜索</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">

                        <div class="table-responsive">
                            <form class="form-search" method="get" action="<?=url('hotelgw.room/index')?>" role="form">
                                <table>
                                    <tr>
                                        <td>房间标题:<input class="form-control" name="title" id="title"
                                                        value="<?=$search['title']?>" type="text" placeholder="请输入房间标题"
                                                        style=" width:200px"/></td>

                                        <td>
                                            <div class="input-group">
                                                <button type="submit" style="margin-top: 42%"
                                                        class="btn form-control btn-sm btn-primary">
                                                    搜索
                                                </button>
                                            </div>
                                        </td>
                                    </tr>

                                </table>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xs-12">
            <div class="ibox-content">
                <div class="row">
                    <div class="tableTools-container">
                        <a title="添加房间管理" href="<?=url('hotelgw.room/create')?>" class="btn btn-sm btn-success"><i class=" fa fa-plus"></i>添加房间管理</a>
                    </div>
                    <div class="table-responsive">
                        <table id="simple-table" class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>房间标题</th>
                                <th>图片</th>
                                <th>日常价格</th>
                                <th>单日最大预定数</th>
                                <th>面积</th>
                                <th>取消规则</th>
                                <th>可入住人数</th>
                                <th>所在楼层</th>
                                <th>是否有窗户</th>
                                <th>是否有wifi</th>
                                <th>是否可以取消</th>
                                <th>是否有早餐</th>
                                <th>排序</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <form id="mini_list">
                                <tbody>
                                <?php foreach($list as $val){ ?>
                                <tr>
                                    <td><?= $val->room_id ?></td>
                                    <td><?=$val->title?></td>
                                    <td><img width="50" src="/attachs/uploads/<?=getImg($val->photo)?>"/></td>
                                    <td>￥<?=sprintf("%.2f",$val->price/100)?></td>
                                    <td><?=$val->day_num?>间</td>
                                    <td><?=$val->area?>㎡</td>
                                    <td><textarea><?=$val->cancel?></textarea></td>
                                    <td><?=$val->people_num?>人</td>
                                    <td><?=$val->floor?></td>
                                    <td><?=$val->is_window == 1 ? '<span class="label label-success">是</span>' : '<span class="label label-warning">否</span>'?></td>
                                    <td><?=$val->is_wifi == 1 ? '<span class="label label-success">是</span>' : '<span class="label label-warning">否</span>'?></td>
                                    <td><?=$val->is_cancel == 1 ? '<span class="label label-success">是</span>' : '<span class="label label-warning">否</span>'?></td>
                                    <td><?=$val->is_breakfast == 1 ? '<span class="label label-success">是</span>' : '<span class="label label-warning">否</span>'?></td>
                                    <td><?=$val->orderby?></td>
                                    <td>
                                        <div class="hidden-sm hidden-xs btn-group">
                                            <a title="特殊日期价格设置" mini="load" w="80%" h="80%" href="<?=url('hotelgw.room/price','room_id='.$val->room_id)?>" class="btn btn-xs btn-success"><i class=" fa fa-money bigger-120"></i>特殊日期价格</a>
                                            <a title="编辑房间管理" href="<?=url('hotelgw.room/edit','room_id='.$val->room_id)?>" class="btn btn-xs btn-info"><i class=" fa fa-edit bigger-120"></i>编辑</a>
                                            <a title="删除房间管理" mini="act" href="<?=url('hotelgw.room/delete','room_id='.$val->room_id)?>" class="btn btn-xs btn-warning"><i class="fa fa-trash bigger-120"></i>删除</a>
                                        </div>
                                    </td>
                                </tr>
                                <?php } ?>
                                </tbody>
                            </form>
                        </table>
                        <div>
                            <?php echo $page; ?>
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.main-container -->
            </div>
        </div>
    </div>
</div>
