<div class="wrapper wrapper-content animated fadeInRight">
    <!-- PAGE CONTENT BEGINS -->
        <div class="col-xs-12">
            <div class="ibox-content">
                <div class="row">
                    <div class="tableTools-container">
                        <a title="添加小程序描述" href="<?=url('miniapp.describe/create',['miniapp_id'=>$miniapp->miniapp_id])?>" class="btn btn-sm btn-success"><i
                                class=" fa fa-plus"></i>添加小程序描述</a>
                        <a mini="list" for="mini_list" title="批量删除小程序描述" href="<?=url('miniapp.describe/delete')?>"
                           class="btn btn-sm btn-danger"><i class="fa fa-trash"></i>批量删除</a>
                    </div>
                    <div class="table-responsive">
                        <table id="simple-table" class="table table-striped">
                            <thead>
                            <tr>
                                <th class="center">
                                    <label class="pos-rel">
                                        <input type="checkbox" class="ace"/>
                                        <span class="lbl"></span>
                                    </label>
                                </th>
                                <th>ID</th>
                                <th>小程序</th>
                                <th>描述内容</th>
                                <th>图片</th>
                                <th>排序</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <form id="mini_list">
                                <tbody>
                                <?php foreach($list as $val){ ?>
                                <tr>
                                    <td class="center">
                                        <label class="pos-rel">
                                            <input id="describe_id_<?=$val->describe_id;?>" name="describe_id[]"
                                                   value="<?=$val->describe_id;?>" type="checkbox" class="ace"/>
                                            <span class="lbl"></span>
                                        </label>
                                    </td>
                                    <td><?= $val->describe_id ?></td>
                                    <td><?=$val->miniapp_id?></td>
                                    <td><textarea class="form-control"><?=$val->describe?></textarea></td>
                                    <td><?=empty($val->photo) ? '' : "<img width='80' src='/attachs/uploads/$val->photo'/>" ?></td>
                                    <td><?=$val->orderby?></td>
                                    <td>
                                        <div class="hidden-sm hidden-xs btn-group">
                                            <a title="编辑小程序描述"
                                               href="<?=url('miniapp.describe/edit','describe_id='.$val->describe_id)?>"
                                               class="btn btn-xs btn-info"><i class=" fa fa-edit bigger-120"></i>编辑</a>
                                            <a title="删除小程序描述" mini="act"
                                               href="<?=url('miniapp.describe/delete','describe_id='.$val->describe_id)?>"
                                               class="btn btn-xs btn-warning"><i
                                                    class="fa fa-trash bigger-120"></i>删除</a>
                                        </div>
                                    </td>
                                </tr>
                                <?php } ?>
                                </tbody>
                            </form>
                        </table>
                        <div>
                            <?php echo $page; ?>
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.main-container -->
            </div>
        </div>
    </div>
</div>
