<link rel="stylesheet" href="/public/home/css/index.css"/>
<link rel="stylesheet" href="/public/home/css/comment.css"/>
<link rel="stylesheet" href="/public/home/css/about.css"/>
<div class="about-body">
    <div class="about-list">
        <div class="about-title">关于我们</div>
        <ul>
            <li class="about-content" style="text-indent:2em">
微点应用专注于微信小程序开发与推广。在微信小程序逐步走上成熟，也给各个行业带来了特别庞大的流量红利。
行业如何分享这块的流量红利，通过微信赚得金矿呢？那么必然需要靠微信小程序的来完成自己线上的布局，小程序具备 小、快、精、便的特点是旅游行业的线上最佳选择！
目前开发了微点应用微信小程序托管平台，帮助您快速布局线上，一键安装您的业务利器！            </li>
               <li style="height: 30px;width: 100%"></li>
            <li class="about_info">
                <div class="about_item">客户服务热线：15922515105</div>
                <div class="about_item">联系客服：<a style="color: #00a0e9"  href="http://wpa.qq.com/msgrd?v=3&uin=1506193219&site=qq&menu=yes">点击咨询</a></div>
                <div class="about_item">客服QQ：<a href="http://wpa.qq.com/msgrd?v=3&uin=1506193219&site=qq&menu=yes">1506193219</a></div>
                <div class="about_item">客服微信：1506193219</div>
                <div class="about_item">QQ交流群：557079540</div>
                <div class="about_item">工作时间：9:00-18:00（周一到周五）</div>
            </li>
            <li>
                <!--div class="about-address"></div-->
            </li>
         
            <li style="height: 30px;width: 100%"></li>
        </ul>
    </div>
</div>
