<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox-content">
                <div class="row">
                    <form action="<?=url('hotel.hotel/special',['hotel_id'=>$hotel->hotel_id])?>" id="form-create" method="post" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right"><span
                                    class="c-red">*</span>酒店：</label>
                            <div class="col-sm-9">
                                <input type="text" value="<?=isset($hotel->hotel_name)?$hotel->hotel_name:''?>" placeholder="" id="special_title1" name="special_title1" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right"><span
                                    class="c-red">*</span>出行特色：</label>
                            <div class="col-sm-9">
                            <div class="checkbox i-checks">
                                <?php $i=0; foreach($list as $val  ){$i++;?>
                                <label><input name="data[]" type="checkbox"  value="<?=$val->special_id?>" <?=empty($hotelspecia[$val->special_id]) ? '' : 'checked'?>><?=$val->special_title1;?></label><?=$i%5==0?'<br>':'';?>
                               <?php } ?>
                            </div>
                            </div>
                        </div>
                        <div class="clearfix form-actions">
                            <div class="col-md-offset-3 col-md-9">
                                <button mini="submit" for="form-create" class="btn btn-info" type="button">
                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                    保存
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>