<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox-content">
                <div class="row">
                   <form  action="<?=url('shop.cart/edit',['cart_id'=>$detail->cart_id])?>" id="form-create" method="post" class="form-horizontal" role="form"> 
                     
<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right"><span class="c-red">*</span>用户：</label>
    <div class="col-sm-9">
            <input type="text"  value="<?=isset($detail->user_id)?$detail->user_id:''?>" placeholder="" id="user_id" name="user_id"  class="form-control" /> 
    </div>
 </div>
<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right"><span class="c-red">*</span>商品：</label>
    <div class="col-sm-9">
            <input type="text"  value="<?=isset($detail->goods_id)?$detail->goods_id:''?>" placeholder="" id="goods_id" name="goods_id"  class="form-control" /> 
    </div>
 </div>
<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right"><span class="c-red">*</span>SKU：</label>
    <div class="col-sm-9">
            <input type="text"  value="<?=isset($detail->sku_id)?$detail->sku_id:''?>" placeholder="" id="sku_id" name="sku_id"  class="form-control" /> 
    </div>
 </div>
<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right"><span class="c-red">*</span>数量：</label>
    <div class="col-sm-9">
            <input type="text"  value="<?=isset($detail->num)?$detail->num:''?>" placeholder="" id="num" name="num"  class="form-control" /> 
    </div>
 </div>

                    <div class="clearfix form-actions">
                            <div class="col-md-offset-3 col-md-9">
                                    <button mini="submit" for="form-create" class="btn btn-info" type="button">
                                            <i class="ace-icon fa fa-check bigger-110"></i>
                                            保存
                                    </button>

                            </div>
                    </div>
                   </form>

               </div></div>
        </div>
    </div>
</div>