<div class="wrapper wrapper-content animated fadeInRight">
    <!-- PAGE CONTENT BEGINS -->
    <div class="row">
        <div class="col-xs-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜索</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="table-responsive">
                            <form class="form-search" method="get" action="<?=url('hospital.doctor/index')?>"
                                  role="form">
                                <table>
                                    <tr>
                                        <td>职工名称:<input class="form-control" name="doctor_name" id="doctor_name" value="<?=$search['doctor_name']?>" type="text" placeholder="请输入职工名称" style=" width:200px"/></td>
                                        <td>
                                            <div class="input-group">
                                                <button type="submit" style="margin-top: 42%" class="btn form-control btn-sm btn-primary">
                                                    搜索
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="ibox-content">
                <div class="row">
                    <div class="tableTools-container">
                        <a title="添加职工管理" href="<?=url('hospital.doctor/create')?>" class="btn btn-sm btn-success"><i class=" fa fa-plus"></i>添加职工管理</a>
                    </div>
                    <div class="table-responsive">
                        <table id="simple-table" class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>分类</th>
                                <th>职工名称</th>
                                <th>列表图片</th>
                                <th>临床经验</th>
                                <th>介绍</th>
                                <th>专业擅长</th>
                                <th>学术荣誉</th>
                                <th>感谢信</th>
                                <th>咨询量</th>
                                <th>预约数</th>
                                <th>排序</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                                <tbody>
                                <?php foreach($list as $val){ ?>
                                <tr>
                                    <td><?= $val->doctor_id ?></td>
                                    <td><?=empty($category[$val->category_id]) ? '' : $category[$val->category_id]->category_name?></td>
                                    <td><?=$val->doctor_name?></td>
                                    <td><img width="50" src="/attachs/uploads/<?=$val->photo?>"/></td>
                                    <td><?=$val->experience?>年</td>
                                    <td><textarea><?=$val->introduce?></textarea></td>
                                    <td><textarea><?=$val->major?></textarea></td>
                                    <td><textarea><?=$val->learning?></textarea></td>
                                    <td><?=$val->thank_num?></td>
                                    <td><?=$val->consult_num?></td>
                                    <td><?=$val->enroll_num?></td>
                                    <td><?=$val->orderby?></td>
                                    <td>
                                        <div class="hidden-sm hidden-xs btn-group">
                                            <a title="编辑职工管理" href="<?=url('hospital.doctor/edit','doctor_id='.$val->doctor_id)?>" class="btn btn-xs btn-info"><i class=" fa fa-edit bigger-120"></i>编辑</a>
                                            <a title="删除职工管理" mini="act" href="<?=url('hospital.doctor/delete','doctor_id='.$val->doctor_id)?>" class="btn btn-xs btn-warning"><i class="fa fa-trash bigger-120"></i>删除</a>
                                        </div>
                                    </td>
                                </tr>
                                <?php } ?>
                                </tbody>
                        </table>
                        <div>
                            <?php echo $page; ?>
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.main-container -->
            </div>
        </div>
    </div>
</div>
