<div class="wrapper wrapper-content animated fadeInRight">
    <!-- PAGE CONTENT BEGINS -->
    <div class="row">
        <div class="col-xs-12">
            <div id="baobiao" >
                <div id="main" style="width: 100%;height:700px; float: left"></div>
            </div>
            <!--这里是放table的-->
        </div>
    </div>
</div>
<script src="/public/admin/js/echarts.min.js"></script>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));
    // 指定图表的配置项和数据
 option = {
    title: {
        text: '访问留存'
    },
    tooltip: {
        trigger: 'axis'
    },
    legend: {
        data:[<?php echo $data2['legend'];?>]
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    toolbox: {
        feature: {
            saveAsImage: {}
        }
    },
    xAxis: {
        type: 'category',
        boundaryGap: false,
        data: [<?php echo $data2['date'];?>]
    },
    yAxis: {
        type: 'value'
    },
    series: [
       <?php echo $data2['series'];?>
    ]
};
    myChart.setOption(option);
</script>