
<body class="gray-bg">
<div style="width: 100%;" class=" text-center animated fadeInDown">
    <h1 style="font-size: 16rem"><?=$info?></h1>
    <h3  style="font-size: 5rem" class="font-bold">为什么会出现此页面？</h3>
    <div class="error-desc" style="text-align: left;margin: 0 auto;width: 50%;font-size: 3rem">
        <p>可能原因如下：</p>
        <ol>
            <li>您同时管理了两个小程序后台 一次只能管理一个小程序后台哦</li>
            <li>可能您最近使用了清理应用如：360垃圾清理等应用 </li>
            <li>如果提示“小程序配置错误”，可能是在授权是出现了问题请联系我们 我们会在最快时间内问您解决</li>
            <li>我们的唯一QQ(2016030471) 唯一客服(0551-65560407)</li>
        </ol>
    </div>
</div>


