<div class="wrapper wrapper-content animated fadeInRight">
    <!-- PAGE CONTENT BEGINS -->
    <div class="row">



        <div class="col-xs-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜索</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">

                        <div class="table-responsive">
                            <form class="form-search" method="get"  action="<?=url('waimai.product/index')?>" role="form">
                                <table>
                                    <tr>
                                        <td>商品名称:<input class="form-control" name="name" id="name"  value="<?=$search['name']?>" type="text"  placeholder="请输入商品名称"  style=" width:200px"/></td>

                                        <td>
                                            <div class="input-group">
                                                <button type="submit" style="margin-top: 42%" class="btn form-control btn-sm btn-primary">
                                                    搜索
                                                </button>
                                            </div>
                                        </td>
                                    </tr>

                                </table>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-xs-12">
            <div class="ibox-content">
                <div class="row">
                    <div class="tableTools-container">
                        <a title="添加外卖" href="<?=url('waimai.product/create')?>"  class="btn btn-sm btn-success"><i class=" fa fa-plus"></i>添加外卖</a>
                    </div>



                    <div class="table-responsive">

                        <table id="simple-table"  class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>分类</th>
                                    <th>商品名称</th>
                                    <th>图片</th>
                                    <th>价格</th>
                                    <th>打包费用</th>
                                    <th>月销量</th>
                                    <th>总销量</th>
                                    <th>是否上架</th>
                                    <th>排序</th>

                                    <th >操作</th>


                                </tr>
                            </thead>
                            <form  id="mini_list">
                                <tbody>
                                    <?php foreach($list as $val){ ?>
                                    <tr>
                                        <td><?= $val->cat_id ?></td>
                                        <td><?=isset($cats[$val->cat_id])?$cats[$val->cat_id]['name']:''?></td>
                                        <td><?=$val->name?></td>
                                        <td><img width="80" src="/attachs/uploads/<?=$val->photo?>"/></td>
                                        <td><?=round($val->price/100,2)?></td>
                                        <td><?=round($val->dabao/100,2)?></td>
                                        <td><?=$val->monthnum?></td>
                                        <td><?=$val->totalnum?></td>
                                        <td><?=$val->is_online==1?'上架中':'下架中'?></td>
                                        <td><?=$val->orderby?></td>


                                        <td>
                                            <div class="hidden-sm hidden-xs btn-group">
                                                <a title="编辑外卖"  href="<?=url('waimai.product/edit','product_id='.$val->product_id)?>"  class="btn btn-xs btn-info" ><i class=" fa fa-edit bigger-120"></i>编辑</a>
                                            </div>                                      
                                        </td>
                                    </tr>
                                    <?php } ?>

                                </tbody>
                            </form>
                        </table>

                        <div>
                            <?php echo $page; ?>      
                        </div>
                    </div><!-- /.row -->




                </div><!-- /.main-container -->


            </div>
        </div>
    </div>
</div>
