<div class="wrapper wrapper-content animated fadeInRight">
    <!-- PAGE CONTENT BEGINS -->
    <div class="row">



         <div class="col-xs-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜索</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">

                        <div class="table-responsive">
                                  <form class="form-search" method="get"  action="<?=url('hair.works/index')?>" role="form">
                                          <table>
                                              <tr>
                                                 <td>标题:<input class="form-control" name="title" id="title"  value="<?=$search['title']?>" type="text"  placeholder="请输入标题"  style=" width:200px"/></td>

                                                  <td>
                                                        <div class="input-group">
                                                            <button type="submit" style="margin-top: 42%" class="btn form-control btn-sm btn-primary">
                                                                搜索
                                                            </button>
                                                        </div>
                                                  </td>
                                              </tr>

                                          </table>

                                    </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-xs-12">
            <div class="ibox-content">
                <div class="row">
                    <div class="tableTools-container">
     <a title="添加经典案例" href="<?=url('hair.works/create')?>"  class="btn btn-sm btn-success"><i class=" fa fa-plus"></i>添加经典案例</a>
</div>



                    <div class="table-responsive">

                        <table id="simple-table"  class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>标题</th>
              
                                    <th >操作</th>


                                </tr>
                            </thead>
                            <form  id="mini_list">
                                <tbody>
                                    <?php foreach($list as $val){ ?>
                                    <tr>
                                        <td><?= $val->works_id ?></td>
                                        <td><?=$val->title?></td>


                                        <td>
                                            <div class="hidden-sm hidden-xs btn-group">
                                                <a title="编辑经典案例"  href="<?=url('hair.works/edit','works_id='.$val->works_id)?>"  class="btn btn-xs btn-info" ><i class=" fa fa-edit bigger-120"></i>编辑</a>
                                                <a title="删除经典案例" mini="act"  href="<?=url('hair.works/delete','works_id='.$val->works_id)?>"  class="btn btn-xs btn-warning"><i class="fa fa-trash bigger-120"></i>删除</a>
                                            </div>                                      
                                        </td>
                                    </tr>
                                    <?php } ?>

                                </tbody>
                            </form>
                        </table>

                        <div>
                            <?php echo $page; ?>      
                        </div>
                    </div><!-- /.row -->




                </div><!-- /.main-container -->


            </div>
        </div>
    </div>
</div>
