<div class="wrapper wrapper-content animated fadeInRight">
    <!-- PAGE CONTENT BEGINS -->
    <div class="row">
        <div class="col-xs-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜索</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="table-responsive">
                            <form class="form-search" method="get" action="<?=url('group.goods/index')?>" role="form">
                                <table>
                                    <tr>
                                        <td>商品名称:<input class="form-control" name="goods_name" id="goods_name" value="<?=$search['goods_name']?>" type="text" placeholder="请输入商品名称" style=" width:200px"/></td>
                                        <td>开团状态:
                                            <select class="form-control" name="group">
                                                <option <?=$search['group'] == 0 ? 'selected' : ''?> value="0">请选择</option>
                                                <option <?=$search['group'] == 1 ? 'selected' : ''?> value="1">以开团</option>
                                                <option <?=$search['group'] == 2 ? 'selected' : ''?> value="2">未开团</option>
                                                <option <?=$search['group'] == 3 ? 'selected' : ''?> value="3">已过期</option>
                                            </select>
                                        </td>
                                        <td>库存状态:
                                            <select class="form-control" name="kucun">
                                                <option <?=$search['kucun'] == 0 ? 'selected' : ''?> value="0">请选择</option>
                                                <option <?=$search['kucun'] == 1 ? 'selected' : ''?> value="1">库存充足</option>
                                                <option <?=$search['kucun'] == 2 ? 'selected' : ''?> value="2">库存紧缺</option>
                                                <option <?=$search['kucun'] == 3 ? 'selected' : ''?> value="3">库存为0</option>
                                            </select>
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <button type="submit" style="margin-top: 42%" class="btn form-control btn-sm btn-primary">
                                                    搜索
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="ibox-content">
                <div class="row">
                    <div class="tableTools-container">
                        <a title="添加商品" href="<?=url('group.goods/create')?>" class="btn btn-sm btn-success"><i class=" fa fa-plus"></i>添加商品</a>
                    </div>
                    <div class="table-responsive">
                        <table id="simple-table" class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>商品分类</th>
                                <th>商品名称</th>
                                <th>已出售数量</th>
                                <th>市场原价</th>
                                <th>拼团价</th>
                                <th>单独购买价格</th>
                                <th>开团时间</th>
                                <th>结束时间</th>
                                <th>几人团</th>
                                <th>以参团人数</th>
                                <th>剩余库存</th>
                                <th>是否包邮</th>
                                <th>是否上架</th>
                                <th>排序</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <form id="mini_list">
                                <tbody>
                                <?php foreach($list as $val){ ?>
                                <tr>
                                    <td><?=$val->goods_id ?></td>
                                    <td><?=empty($cats[$val->category_id]) ? '分类不存在' : $cats[$val->category_id]->category_name?></td>
                                    <td><?=$val->goods_name?></td>
                                    <td><?=$val->sold_num?></td>
                                    <td>￥<?=sprintf("%.2f",$val->price/100)?></td>
                                    <td>￥<?=sprintf("%.2f",$val->group_price/100)?></td>
                                    <td>￥<?=sprintf("%.2f",$val->alone_price/100)?></td>
                                    <td><?=date("Y-m-d H:i:s",$val->bg_time)?></td>
                                    <td><?=date("Y-m-d H:i:s",$val->end_time)?></td>
                                    <td><?=$val->group_num?>人</td>
                                    <td><?=$val->people_num?>人</td>
                                    <td><?=$val->surplus_num?></td>
                                    <td><?=$val->is_mail == 1 ?   '<span class="label label-success">是</span>'   :  '<span class="label label-warning">否</span>'?></td>
                                    <td><?=$val->is_online == 1 ? '<span class="label label-success">上架中</span>'   :  '<span class="label label-warning">已下架</span>'?></td>
                                    <td><?=$val->orderby?></td>
                                    <td>
                                        <div class="hidden-sm hidden-xs btn-group">
                                            <a title="编辑商品管理" href="<?=url('group.goods/edit','goods_id='.$val->goods_id)?>" class="btn btn-xs btn-info"><i class=" fa fa-edit bigger-120"></i>编辑</a>
                                            <a mini="load" w="100%" h="100%"  title="查看已报名的团" href="<?=url('group.group/index','goods_id='.$val->goods_id)?>" class="btn btn-xs btn-info"><i class=" fa fa-edit bigger-120"></i>查看凑团</a>
                                            <a title="删除商品管理" mini="act" href="<?=url('group.goods/delete','goods_id='.$val->goods_id)?>" class="btn btn-xs btn-warning"><i class="fa fa-trash bigger-120"></i>删除</a>
                                        </div>
                                    </td>
                                </tr>
                                <?php } ?>
                                </tbody>
                            </form>
                        </table>
                        <div>
                            <?php echo $page; ?>
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.main-container -->
            </div>
        </div>
    </div>
</div>
