<div class="wrapper wrapper-content animated fadeInRight">
    <!-- PAGE CONTENT BEGINS -->
    <div class="row">


        <div class="col-xs-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜索</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">

                        <div class="table-responsive">
                            <form class="form-search" method="get" action="<?=url('miniapp.wversionlog/index')?>"
                                  role="form">
                                <table>
                                    <tr>

                                        <td>
                                            <div class="input-group">
                                                <button type="submit" style="margin-top: 42%"
                                                        class="btn form-control btn-sm btn-primary">
                                                    搜索
                                                </button>
                                            </div>
                                        </td>
                                    </tr>

                                </table>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xs-12">
            <div class="ibox-content">
                <div class="row">
                    <div class="tableTools-container">
                        <a title="添加模板升级日志" href="<?=url('miniapp.wversionlog/create')?>"
                           class="btn btn-sm btn-success"><i class=" fa fa-plus"></i>添加模板升级日志</a>
                        <a mini="list" for="mini_list" title="批量删除模板升级日志" href="<?=url('miniapp.wversionlog/delete')?>"
                           class="btn btn-sm btn-danger"><i class="fa fa-trash"></i>批量删除</a>

                    </div>


                    <div class="table-responsive">

                        <table id="simple-table" class="table table-striped">
                            <thead>
                            <tr>
                                <th class="center">
                                    <label class="pos-rel">
                                        <input type="checkbox" class="ace"/>
                                        <span class="lbl"></span>
                                    </label>
                                </th>
                                <th>ID</th>
                                <th>小程序</th>
                                <th>当前版本号</th>
                                <th>升级内容</th>

                                <th>操作</th>


                            </tr>
                            </thead>
                            <form id="mini_list">
                                <tbody>
                                <?php foreach($list as $val){ ?>
                                <tr>
                                    <td class="center">
                                        <label class="pos-rel">
                                            <input id="version_log_id_<?=$val->version_log_id;?>"
                                                   name="version_log_id[]" value="<?=$val->version_log_id;?>"
                                                   type="checkbox" class="ace"/>
                                            <span class="lbl"></span>
                                        </label>
                                    </td>

                                    <td><?= $val->version_log_id ?></td>
                                    <td><?=$val->miniapp_id?></td>
                                    <td><?=$val->this_version_num?></td>
                                    <td><?=$val->describe?></td>


                                    <td>
                                        <div class="hidden-sm hidden-xs btn-group">
                                            <a title="编辑模板升级日志"
                                               href="<?=url('miniapp.wversionlog/edit','version_log_id='.$val->version_log_id)?>"
                                               class="btn btn-xs btn-info"><i class=" fa fa-edit bigger-120"></i>编辑</a>
                                            <a title="删除模板升级日志" mini="act"
                                               href="<?=url('miniapp.wversionlog/delete','version_log_id='.$val->version_log_id)?>"
                                               class="btn btn-xs btn-warning"><i
                                                    class="fa fa-trash bigger-120"></i>删除</a>
                                        </div>
                                    </td>
                                </tr>
                                <?php } ?>

                                </tbody>
                            </form>
                        </table>

                        <div>
                            <?php echo $page; ?>
                        </div>
                    </div><!-- /.row -->


                </div><!-- /.main-container -->


            </div>
        </div>
    </div>
</div>
