<div class="wrapper wrapper-content animated fadeInRight">
    <!-- PAGE CONTENT BEGINS -->
    <div class="row">



        <div class="col-xs-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜索</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">

                        <div class="table-responsive">
                            <form class="form-search" method="get"  action="<?=url('toutiao.comment/index')?>" role="form">
                                <table>
                                    <tr>
                                        <td>头条:<input class="form-control" name="toutiao_id" id="toutiao_id"  value="<?=$search['toutiao_id']?>" type="text"  placeholder="请输入头条"  style=" width:200px"/></td>
                                        <td>用户:<input class="form-control" name="user_id" id="user_id"  value="<?=$search['user_id']?>" type="text"  placeholder="请输入用户"  style=" width:200px"/></td>
                                        <td>评论内容:<input class="form-control" name="content" id="content"  value="<?=$search['content']?>" type="text"  placeholder="请输入评论内容"  style=" width:200px"/></td>

                                        <td>
                                            <div class="input-group">
                                                <button type="submit" style="margin-top: 42%" class="btn form-control btn-sm btn-primary">
                                                    搜索
                                                </button>
                                            </div>
                                        </td>
                                    </tr>

                                </table>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-xs-12">
            <div class="ibox-content">
                <div class="row">

                    <div class="table-responsive">

                        <table id="simple-table"  class="table table-striped">
                            <thead>
                                <tr>
                         
                                    <th>ID</th>
                                    <th>头条</th>
                                    <th>用户</th>
                                    <th>评论内容</th>
                                    <th>点赞</th>
                                    <th>评论时间</th>
                                    <th>评论ID</th>

                                    <th >操作</th>


                                </tr>
                            </thead>
                            <form  id="mini_list">
                                <tbody>
                                    <?php foreach($list as $val){ ?>
                                    <tr>
                               
                                        <td><?= $val->comment_id ?></td>
                                        <td><?=isset($toutiaos[$val->toutiao_id])?$toutiaos[$val->toutiao_id]['title']:'';?></td>
                                        <td><?=isset($users[$val->user_id])?$users[$val->user_id]['nick_name']:''?></td>
                                        <td><?=$val->content?></td>
                                        <td><?=$val->zan_num?></td>
                                        <td><?=date("Y-m-d H:i:s",$val->add_time)?></td>
                                        <td><?=$val->add_ip?></td>

                                        <td>
                                            <div class="hidden-sm hidden-xs btn-group">
                                                <a title="删除头条评论" mini="act"  href="<?=url('toutiao.comment/delete','comment_id='.$val->comment_id)?>"  class="btn btn-xs btn-warning"><i class="fa fa-trash bigger-120"></i>删除</a>
                                            </div>                                      
                                        </td>
                                    </tr>
                                    <?php } ?>

                                </tbody>
                            </form>
                        </table>

                        <div>
                            <?php echo $page; ?>      
                        </div>
                    </div><!-- /.row -->




                </div><!-- /.main-container -->


            </div>
        </div>
    </div>
</div>
