<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox-content">
                <div class="row">
                   <form action="<?=url('zhuangxiu.space/create')?>"  id="form-create" method="post" class="form-horizontal" role="form"> 
                    
<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right"><span class="c-red">*</span>分类名称：</label>
    <div class="col-sm-9">
            <input type="text"  value="<?=isset($detail->space_name)?$detail->space_name:''?>" placeholder="" id="space_name" name="space_name"  class="form-control" /> 
    </div>
 </div>
                    <div class="clearfix form-actions">
                            <div class="col-md-offset-3 col-md-9">
                                    <button mini="submit" for="form-create" class="btn btn-info" type="button">
                                            <i class="ace-icon fa fa-check bigger-110"></i>
                                            保存
                                    </button>
                            </div>
                    </div>
                   </form>

               </div></div>
        </div>
    </div>
</div>