<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox-content">
                <div class="row">
                   <form  action="<?=url('tongcheng.newsadvert/edit',['advert_id'=>$detail->advert_id])?>" id="form-create" method="post" class="form-horizontal" role="form"> 
                     
<link rel="stylesheet" type="text/css" href="/public/common/webuploader-0.1.5/webuploader.css">
<script type="text/javascript" src="/public/common/webuploader-0.1.5/webuploader.js"></script>



<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right"><span class="c-red">*</span>广告图片：</label>
    <div class="col-sm-9 ">      
        
        <div id="uploader-demo" style="max-width: 300px">
            <!--用来存放item-->
            <div id="photoList" class="uploader-list">
                <?php if(isset($detail['photo'])){?>
                <div  class="file-item thumbnail"><img width="110" src="/attachs/uploads/<?=$detail['photo']?>"><input type="hidden" value="<?=$detail['photo']?>" name="photo" id="photo"></div>
                <?php }?>
            </div>
            <div id="photoPicker">选择图片</div>
        </div>

           
    </div>
</div>    
        
 
<script>


    
var uploaderphoto = WebUploader.create({
    auto: true,
    swf: '/public/admin/Widget/webuploader-0.1.5/Uploader.swf',
    server: '<?=url("upload.upload/index",['mdl'=>"newsadvert_photo"])?>',
    pick: '#photoPicker',
    resize : false,  
    duplicate :true
});

$(document).on('click','.file-item',function(){
    $(this).remove();
});

// 当有文件添加进来的时候
uploaderphoto.on( 'fileQueued', function( file ) {
    var $li = $(
            '<div id="' + file.id + '" class="file-item thumbnail">' +
                '<img>' +
                '<input type="hidden" value="" name="photo" id="photo">' +
                '<div class="info">' + file.name + '</div>' +
            '</div>'
            ),
        $img = $li.find('img');


    // $list为容器jQuery实例
    $("#photoList").html($li);

    // 创建缩略图
    // 如果为非图片文件，可以不用调用此方法。
    // thumbnailWidth x thumbnailHeight 为 100 x 100
    uploaderphoto.makeThumb( file, function( error, src ) {
        if ( error ) {
            $img.replaceWith('<span>不能预览</span>');
            return;
        }

        $img.attr( 'src', src );
    }, 100,100 );
});


// 文件上传过程中创建进度条实时显示。
uploaderphoto.on( 'uploadProgress', function( file, percentage ) {
    var $li = $( '#'+file.id ),
        $percent = $li.find('.progress span');

    // 避免重复创建
    if ( !$percent.length ) {
        $percent = $('<p class="progress"><span></span></p>')
                .appendTo( $li )
                .find('span');
    }

    $percent.css( 'width', percentage * 100 + '%' );
});

// 文件上传成功，给item添加成功class, 用样式标记上传成功。
uploaderphoto.on( 'uploadSuccess', function( file ,response ) {
    $( '#'+file.id ).addClass('upload-state-done');
    $("#photo").val(response._raw);
});

// 文件上传失败，显示上传出错。
uploaderphoto.on( 'uploadError', function( file ) {
    var $li = $( '#'+file.id ),
        $error = $li.find('div.error');

    // 避免重复创建
    if ( !$error.length ) {
        $error = $('<div class="error"></div>').appendTo( $li );
    }

    $error.text('上传失败');
});

// 完成上传完了，成功或者失败，先删除进度条。
uploaderphoto.on( 'uploadComplete', function( file ) {
    $( '#'+file.id ).find('.progress').remove();
});

</script>
<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right"><span class="c-red">*</span>指向信息：</label>
    <div class="col-sm-9">
            <input type="text"  value="<?=isset($detail->info_id)?$detail->info_id:''?>" placeholder="" id="info_id" name="info_id"  class="form-control" /> 
    </div>
 </div>
<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right"><span class="c-red">*</span>备注信息：</label>
    <div class="col-sm-9">
            <input type="text"  value="<?=isset($detail->info)?$detail->info:''?>" placeholder="" id="info" name="info"  class="form-control" /> 
    </div>
 </div>
<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right"><span class="c-red">*</span>查看次数：</label>
    <div class="col-sm-9">
            <input type="text"  value="<?=isset($detail->view_num)?$detail->view_num:''?>" placeholder="" id="view_num" name="view_num"  class="form-control" /> 
    </div>
 </div>
<div class="form-group">
   <label class="col-sm-3 control-label"><span class="c-red">*</span>广告开始时间：</label>
   <div class="col-sm-9">
       <input  value="<?=isset($detail->bg_data)?$detail->bg_data:''?>"  name="bg_data" id="bg_data"  class="laydate-icon form-control layer-date">
       
   </div>
</div>

<script>
 laydate({
    elem: '#bg_data',
    event: 'focus' ,
     format: 'YYYY-MM-DD hh:mm:ss',
    istime: true
});
</script>
<div class="form-group">
   <label class="col-sm-3 control-label"><span class="c-red">*</span>广告结束时间：</label>
   <div class="col-sm-9">
       <input  value="<?=isset($detail->end_data)?$detail->end_data:''?>"  name="end_data" id="end_data"  class="laydate-icon form-control layer-date">
       
   </div>
</div>

<script>
 laydate({
    elem: '#end_data',
    event: 'focus' ,
     format: 'YYYY-MM-DD hh:mm:ss',
    istime: true
});
</script>
<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right"><span class="c-red">*</span>1强制不显示：</label>
    <div class="col-sm-9">        
            <div class="radio i-checks">
                <label>
                  <input name="is_end" id="is_end" value="1" type="radio" <?php if(isset($detail->is_end)&& $detail->is_end==1){?>checked="checked"<?php }?> > <i></i> 是</label>
                <label>
                  <input name="is_end" id="is_end" value="0" type="radio" <?php if(isset($detail->is_end)&& $detail->is_end==0){?>checked="checked"<?php }?> > <i></i> 否</label>
            </div>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right"><span class="c-red">*</span>排序：</label>
    <div class="col-sm-9">
            <input type="text"  value="<?=isset($detail->orderby)?$detail->orderby:''?>" placeholder="" id="orderby" name="orderby"  class="form-control" /> 
    </div>
 </div>

                    <div class="clearfix form-actions">
                            <div class="col-md-offset-3 col-md-9">
                                    <button mini="submit" for="form-create" class="btn btn-info" type="button">
                                            <i class="ace-icon fa fa-check bigger-110"></i>
                                            保存
                                    </button>

                            </div>
                    </div>
                   </form>

               </div></div>
        </div>
    </div>
</div>