<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox-content">
                <div class="row">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="alert alert-block alert-success">
                        <button type="button" class="close" data-dismiss="alert">
                            <i class="ace-icon fa fa-times"></i>
                        </button>
                        <i class="ace-icon fa fa-check green"></i>
                        这里是支付设置 请根据您的是即将情况来设置这些
                    </div>
                    <form action="<?=url('setting.setting/pay')?>" id="form-create" method="post" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">APPID：</label>
                            <div class="col-sm-9">
                                <input type="text"   value="<?=empty($detail->mini_appid) ? '' : $detail->mini_appid?>" placeholder="请填写您申请的APPID" id="data[mini_appid]" name="mini_appid"  class="col-xs-10 form-control col-sm-5" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">APPSECREPT：</label>
                            <div class="col-sm-9">
                                <input type="password"  value="<?=empty($detail->mini_appsecrept) ? '' : $detail->mini_appsecrept?>" placeholder="请填写您申请的APPSECREPT" id="data[mini_appsecrept]" name="mini_appsecrept"  class="col-xs-10 form-control col-sm-5" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">商户ID：</label>
                            <div class="col-sm-9">
                                <input type="text"  value="<?=empty($detail->mini_mid) ? '' : $detail->mini_mid?>" placeholder="请填写您申请的商户ID" id="data[mini_mid]" name="mini_mid"  class="col-xs-10 form-control col-sm-5" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">商户密钥：</label>
                            <div class="col-sm-9">
                                <input type="password"  value="<?=empty($detail->mini_apicode) ? '' : $detail->mini_apicode?>" placeholder="请填写您申请的商户密钥" id="data[mini_apicode]" name="mini_apicode"  class="col-xs-10 form-control col-sm-5" />
                            </div>
                        </div>
                        <link rel="stylesheet" type="text/css" href="/public/common/webuploader-0.1.5/webuploader.css">
                        <script type="text/javascript" src="/public/common/webuploader-0.1.5/webuploader.js"></script>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right"><span class="c-red">*</span>证书pem格式：</label>
                            <div class="col-sm-9 ">
                                <div class="col-sm-3" style="margin-left: -1%">
                                    <!--用来存放item-->
                                    <div id="apiclient_certList" class="uploader-list">
                                        <?php if(isset($detail['apiclient_cert'])){?>
                                        <div class="file-item  thumbnail"><?=empty($detail->apiclient_cert)? '' :
                                            '已上传'?><input type="hidden" value="<?=$detail['apiclient_cert']?>"
                                                          class="form-control" name="apiclient_cert"
                                                          id="apiclient_cert"></div>
                                        <?php }?>
                                    </div>
                                    <div id="apiclient_certPicker" style="">选择文件</div>
                                </div>
                                <div style="float: left;font-size: 2rem;color: rgba(83,83,83,0.59)">
                                    TIP:请上传文件：apiclient_cert.rem 不懂？<a>点我</a></div>
                            </div>
                        </div>
                        <script>
                            var uploaderapiclient_cert = WebUploader.create({
                                auto: true,
                                swf: '/public/admin/Widget/webuploader-0.1.5/Uploader.swf',
                                server: '<?=url("upload.upload/file")?>',
                                pick: '#apiclient_certPicker',
                                resize: false,
                                duplicate: true
                            });

                            $(document).on('click', '.file-item', function () {
                                $(this).remove();
                            });

                            // 当有文件添加进来的时候
                            uploaderapiclient_cert.on('fileQueued', function (file) {
                                var $li = $(
                                    '<div id="' + file.id + '" class="file-item thumbnail">' +
                                    '<img>' +
                                    '<input type="hidden" value="" name="apiclient_cert" id="apiclient_cert">' +
                                    '<div class="info">' + file.name + '</div>' +
                                    '</div>'
                                    ),
                                    $img = $li.find('img');
                                // $list为容器jQuery实例
                                $("#apiclient_certList").html($li);
                                // 创建缩略图
                                // 如果为非图片文件，可以不用调用此方法。
                                // thumbnailWidth x thumbnailHeight 为 100 x 100

                            });
                            // 文件上传过程中创建进度条实时显示。
                            uploaderapiclient_cert.on('uploadProgress', function (file, percentage) {
                                var $li = $('#' + file.id),
                                    $percent = $li.find('.progress span');

                                // 避免重复创建
                                if (!$percent.length) {
                                    $percent = $('<p class="progress"><span></span></p>')
                                        .appendTo($li)
                                        .find('span');
                                }

                                $percent.css('width', percentage * 100 + '%');
                            });
                            // 文件上传成功，给item添加成功class, 用样式标记上传成功。
                            uploaderapiclient_cert.on('uploadSuccess', function (file, response) {
                                if (response.error == 1) {
                                    layer.msg(response.info);
                                    $("#apiclient_certList").css('border', 'solid 1px red');
                                } else if (response.error == 0) {
                                    $('#' + file.id).addClass('upload-state-done');
                                    $("#apiclient_cert").val(response.info);
                                    $("#apiclient_certList").css('border', 'none');
                                }

                            });

                            // 文件上传失败，显示上传出错。
                            uploaderapiclient_cert.on('uploadError', function (file) {
                                var $li = $('#' + file.id),
                                    $error = $li.find('div.error');
                                // 避免重复创建
                                if (!$error.length) {
                                    $error = $('<div class="error"></div>').appendTo($li);
                                }
                                $error.text('上传失败');
                            });
                            // 完成上传完了，成功或者失败，先删除进度条。
                            uploaderapiclient_cert.on('uploadComplete', function (file) {
                                $('#' + file.id).find('.progress').remove();
                            });
                        </script>
                        <link rel="stylesheet" type="text/css" href="/public/common/webuploader-0.1.5/webuploader.css">
                        <script type="text/javascript" src="/public/common/webuploader-0.1.5/webuploader.js"></script>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right"><span class="c-red">*</span>证书秘钥pem格式：</label>
                            <div class="col-sm-9 ">
                                <div class="col-sm-3" style="margin-left: -1%">
                                    <!--用来存放item-->
                                    <div id="apiclient_cert_keyList" class="uploader-list">
                                        <?php if(isset($detail['apiclient_cert_key'])){?>
                                        <div class="file-item thumbnail"><?=empty($detail->apiclient_cert_key)? '' :
                                            '已上传'?><input type="hidden" value="<?=$detail['apiclient_cert_key']?>"
                                                          name="apiclient_cert_key" id="apiclient_cert_key"></div>
                                        <?php }?>
                                    </div>
                                    <div id="apiclient_cert_keyPicker">选择文件</div>
                                </div>
                                <div style="float: left;font-size: 2rem;color: rgba(83,83,83,0.59)">
                                    TIP:请上传文件：apiclient_cert_key.rem 不懂？<a>点我</a></div>
                            </div>
                        </div>
                        <script>

                            var uploaderapiclient_cert_key = WebUploader.create({
                                auto: true,
                                swf: '/public/admin/Widget/webuploader-0.1.5/Uploader.swf',
                                server: '<?=url("upload.upload/file")?>',
                                pick: '#apiclient_cert_keyPicker',
                                resize: false,
                                duplicate: true
                            });

                            $(document).on('click', '.file-item', function () {
                                $(this).remove();
                            });

                            // 当有文件添加进来的时候
                            uploaderapiclient_cert_key.on('fileQueued', function (file) {
                                var $li = $(
                                    '<div id="' + file.id + '" class="file-item thumbnail">' +
                                    '<img>' +
                                    '<input type="hidden" value="" name="apiclient_cert_key" id="apiclient_cert_key">' +
                                    '<div class="info">' + file.name + '</div>' +
                                    '</div>'
                                    ),
                                    $img = $li.find('img');


                                // $list为容器jQuery实例
                                $("#apiclient_cert_keyList").html($li);

                                // 创建缩略图
                                // 如果为非图片文件，可以不用调用此方法。
                                // thumbnailWidth x thumbnailHeight 为 100 x 100

                            });
                            // 文件上传过程中创建进度条实时显示。
                            uploaderapiclient_cert_key.on('uploadProgress', function (file, percentage) {
                                var $li = $('#' + file.id),
                                    $percent = $li.find('.progress span');

                                // 避免重复创建
                                if (!$percent.length) {
                                    $percent = $('<p class="progress"><span></span></p>')
                                        .appendTo($li)
                                        .find('span');
                                }

                                $percent.css('width', percentage * 100 + '%');
                            });
                            // 文件上传成功，给item添加成功class, 用样式标记上传成功。
                            uploaderapiclient_cert_key.on('uploadSuccess', function (file, response) {
                                if (response.error == 1) {
                                    layer.msg(response.info);
                                    $("#apiclient_cert_keyList").css('border', 'solid 1px red');
                                } else if (response.error == 0) {
                                    $('#' + file.id).addClass('upload-state-done');
                                    $("#apiclient_cert_key").val(response.info);
                                    $("#apiclient_cert_keyList").css('border', 'none');
                                }
                            });
                            // 文件上传失败，显示上传出错。
                            uploaderapiclient_cert_key.on('uploadError', function (file) {
                                var $li = $('#' + file.id),
                                    $error = $li.find('div.error');

                                // 避免重复创建
                                if (!$error.length) {
                                    $error = $('<div class="error"></div>').appendTo($li);
                                }

                                $error.text('上传失败');
                            });
                            // 完成上传完了，成功或者失败，先删除进度条。
                            uploaderapiclient_cert_key.on('uploadComplete', function (file) {
                                $('#' + file.id).find('.progress').remove();
                            });
                        </script>
                        <div class="clearfix form-actions">
                            <div class="col-md-offset-3 col-md-9">
                                <button mini="submit" for="form-create" class="btn btn-info" type="button">
                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                    保存
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>