<!DOCTYPE html >
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title><?=empty($seo_title)?'':$seo_title.'_';?>微点应用是甘肃微点应用专注于研发微信小程序系统，公司开发了民宿小程序、酒店小程序、农家乐小程序、更多小程序敬请期待！15169991113</title>
    <meta name="Keywords" content="民宿小程序、酒店预定小程序、农家乐小程序、门票小程序、景区小程序、周边游小程序、亲子游小程序！" />
    <meta name="Description" content="甘肃微点应用专注于微信小程序解决方案！" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/public/home/plugs/swiper/dist/css/swiper.css">
    <link rel="stylesheet" href="/public/home/css/comment.css?v=20170831"/>
    <script type="text/javascript" src="/public/home/js/jquery.min.js"></script>
</head>
<body>
<!-- 顶部Tab-->
<div class="baottTop">
    <div class="pagewd">
        <div class="lt logo">
            <a href="<?=url('index/index')?>"></a>
        </div>
        <div class="lt topImg">
            <a href="<?=url('index/index')?>"></a>
        </div>
        <div class="lt topNav" style="margin-left: 40px;">
            <ul>
                <li>
                    <a href="<?=url('index/index')?>" class="<?=$footer == 1 ? 'on' : ''?>">官网首页</a>
                </li>
                <li>
                    <a href="<?=url('shop/index')?>" class="<?=$footer == 2 ? 'on' : ''?>">应用大厅</a>
                </li>
                <li>
                    <a href="<?=url('news/index')?>" class="<?=$footer == 3 ? 'on' : ''?>">最新动态</a href="<?=url('news/index')?>">
                </li>
                <li>
                    <a href="<?=url('faq/index')?>" class="<?=$footer == 4 ? 'on' : ''?>">帮助中心</a>
                </li>
                <li>
                    <a href="<?=url('member/index')?>" class="<?=$footer == 5 ? 'on' : ''?>">招商加盟</a>
                </li>
                <li>
                    <a href="<?=url('about/index')?>" class="<?=$footer == 6 ? 'on' : ''?>">关于我们</a>
                </li>
            </ul>
        </div>
        <div class="rt  button_view">
            <a class="btn register_default_hover_primary margin_right_40px" href="/manage/passport/register.html">立即注册</a>
            <a class="btn login_default_hover_primary" href="/manage/passport/login.html">立即登录</a>
        </div>
        <div class="cl"></div>
    </div>
</div>

{__CONTENT__}

<div class="baottFooter">
    <div class="pagewd2" style="height: auto; display: flex; justify-content: center; ">
        <div class="left lt" style="text-align: left;">
            <h4>微点应用</h4>
            <ul>
                <li><a href="<?=url('index/index')?>">官网首页</a></li>
                <li><a href="<?=url('shop/index')?>">应用大厅</a></li>
                <li><a href="<?=url('news/index')?>" >最新动态</a></li>
                <li><a href="<?=url('faq/index')?>" >帮助中心</a></li>
                <li><a href="<?=url('member/index')?>" >招商加盟</a></li>
                <li><a href="<?=url('about/index')?>" >关于我们</a></li>
            </ul>
        </div>
        <div class="left lt">
            <h4>微点应用微信号：</h4>
            <img src="/public/home/images/h5_code.gif" width="160" height="160">
        </div>
        <div class="left lt" style="text-align: right;">
            <h4>咨询电话：</h4>
            <div class="tel">15169991113</div>
            <P>微点应用小程序研发中心</P>
            <p>客服QQ：<span class="maincl">67930603</span><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=67930603&site=qq&menu=yes" class="qq"></a></p>
            <P>客服微信：<span class="maincl">yanervip</span></P>
            <P>官网域名：<span class="maincl">xcx.mestudio.cn</span></P>
            <P>官网域名2：<span class="maincl">xcx.mestudio.cn</span></P>
        </div>
        <div class="cl"></div>
    </div>
    <div class="bottom-link">
        <div class="bottom-link-child">
            <ul style="display: flex; ">
                <h4 class="wxb-main-hot-title" style="color: #999999; font-size: 16px;">友情链接</h4>
                <ul>
                    <li class="wxb-main-link-item" style="color: #999999; font-size: 14px;">
                       申请QQ67930603
                    </li>
                </ul>
            </ul>
        </div>

    </div>
</div>
<div class="baottCopy">微点应用版权所有-ICP备案：陇ICP备16003032</div>
<!--底部结束--->
</body>
</html>
