<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox-content">
                <div class="row">
                   <form action="<?=url('hair.enroll/create')?>"  id="form-create" method="post" class="form-horizontal" role="form"> 
                    
<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right"><span class="c-red">*</span>设计师：</label>
    <div class="col-sm-9">
            <input type="text"  value="<?=isset($detail->designer_id)?$detail->designer_id:''?>" placeholder="" id="designer_id" name="designer_id"  class="form-control" /> 
    </div>
 </div>
<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right"><span class="c-red">*</span>预约类型：</label>
    <div class="col-sm-9">
            <input type="text"  value="<?=isset($detail->catrgory_id)?$detail->catrgory_id:''?>" placeholder="" id="catrgory_id" name="catrgory_id"  class="form-control" /> 
    </div>
 </div>
<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right"><span class="c-red">*</span>预约人数：</label>
    <div class="col-sm-9">
            <input type="text"  value="<?=isset($detail->num)?$detail->num:''?>" placeholder="" id="num" name="num"  class="form-control" /> 
    </div>
 </div>
<div class="form-group">
   <label class="col-sm-3 control-label"><span class="c-red">*</span>预约时间：</label>
   <div class="col-sm-9">
       <input  value="<?=isset($detail->time)?date('Y-m-d H:i:s',$detail->time):''?>"   name="time" id="time"  class="laydate-icon form-control layer-date">
       
   </div>
</div>
<script>
 laydate({
    elem: '#time',
    event: 'focus' ,
    format: 'YYYY-MM-DD hh:mm:ss',
    istime: true
});
</script>
<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right"><span class="c-red">*</span>预约时间：</label>
    <div class="col-sm-9">
            <input type="text"  value="<?=isset($detail->time)?$detail->time:''?>" placeholder="" id="time" name="time"  class="form-control" /> 
    </div>
 </div>
<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right"><span class="c-red">*</span>姓名：</label>
    <div class="col-sm-9">
            <input type="text"  value="<?=isset($detail->name)?$detail->name:''?>" placeholder="" id="name" name="name"  class="form-control" /> 
    </div>
 </div>
<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right"><span class="c-red">*</span>手机号：</label>
    <div class="col-sm-9">
            <input type="text"  value="<?=isset($detail->mobile)?$detail->mobile:''?>" placeholder="" id="mobile" name="mobile"  class="form-control" /> 
    </div>
 </div>
<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right"><span class="c-red">*</span>状态：</label>
    <div class="col-sm-9">
            <input type="text"  value="<?=isset($detail->status)?$detail->status:''?>" placeholder="" id="status" name="status"  class="form-control" /> 
    </div>
 </div>
                    <div class="clearfix form-actions">
                            <div class="col-md-offset-3 col-md-9">
                                    <button mini="submit" for="form-create" class="btn btn-info" type="button">
                                            <i class="ace-icon fa fa-check bigger-110"></i>
                                            保存
                                    </button>
                            </div>
                    </div>
                   </form>

               </div></div>
        </div>
    </div>
</div>