<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  dir="ltr" lang="zh-CN" xml:lang="zh-CN">
<link rel="stylesheet" href="/public/home/css/promo.css?v=201708230932"/>
<style>
    .promoImg{height:125px;}
</style>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox-content">
                <div class="row">
                          <div class="ibox float-e-margins">
                  <div class="ibox-title">
                        <h5>订单列表</h5>
                    </div> 
                    <div class="ibox-content" style="margin-bottom:0px;padding-bottom:0px;">
                        <p>如有充值有遇到问题请及时联系客服</p>
                        <p>客服联系方式：</p>
                        <ol>
                            <li>客服QQ：67930603（唯一QQ客服）</li>
                            <li>客服微信：yanervip（唯一微信客服）</li>
                            <li>客服电话：15169991113</li>
                        </ol>
                    </div>

                <div class="ibox-content" style="margin-top:17px;" class="weixin-form">
                   <iframe src="/phpwxpay/list.php?memberid=<?=$member_id?>" frameborder="0" width="100%" height="350"></iframe>
                </div>
                </div>
				</div>
                    
				
            </div>
        </div>
    </div>
</div>

<script>
  $("#pay100").click(function(){
      $("#pirce").val("100");
  })
  $("#pay500").click(function(){
      $("#pirce").val("500");
  })
  $("#pay1000").click(function(){
      $("#pirce").val("1000");
  })

</script>