
<link rel="stylesheet" href="/public/home/css/index.css"/>
<link rel="stylesheet" href="/public/home/css/helper.css"/>
<div class="helper-body">
    <div class="helper-top">
        <div class="helper-top-logo">
            <a href="#"></a>
        </div>
    </div>
    <div class="helper-list">
        <ul class="help_ul_css" id="help_ul_id">
       
            <li class="last_li">
                <div class="help_question_css active" id="help_question_id">
                    <div class="question_box_css">
                        <div class="question_css">Q:微信小程序有什么优势?</div>
                        <div class="answer_css">A:
                            1，不用安装，即开即用，用完就走。省流量，省安装时间，不占用桌面；
                            2，体验上虽然没法完全媲美原生APP，但综合考虑还是更优；
                            3，对于小程序拥有者来说，开发成本更低，他们可以更多财力，人力，精力放在如何运营好产品，做好内容本身；
                            4，对于用户来说，相较于各种APP，微信小程序UI和操作流程会更统一。这也会降低用户的使用难度；
                            5，对于小程序拥有者来说，相较于原生APP，推广更容易更简单，更省成本。
                        </div>
                    </div>
                    <div class="question_box_css">
                        <div class="question_css">Q:如何使用微点应用小程序</div>
                        <div class="answer_css">A:1、首先注册一个账号2、授权您的小程序3、选择应用4、提交微信审核5、正式上线</div>
                    </div>
                    <div class="question_box_css">
                        <div class="question_css">Q:做一个小程序难么，小程序贵么？</div>
                        <div class="answer_css">A:使用微点应用的微信程序试用是免费的，满意再付费商用，而且费用很便宜，低至一块钱一天！微点应用可以帮助您一键生成小程序！</div>
                    </div>
                    <div class="question_box_css">
                        <div class="question_css">Q:小程序该如何推广，流量怎么获取</div>
                        <div class="answer_css">A:
                            1、附近小程序功能：注册号商家小程序地址后，附近的用户打开：附近的小程序功能，都能找到你的小程序，范围是方圆5公里
                            2、门店扫码：这个很容易理解，就跟公众号推广一样，线下门店商家可以在门店内放一个二维码，只要顾客消费后扫一下码就能优惠，办法简单却特别有效。
                            3、推文发布：我们可以去一些高权重的新闻平台或论坛发一些推文，内容可以是介绍自己的产品或企业的，在最后放上自己的小程序二维码，具体平台选择和推文撰写这里就不细说了。
                            4、公众号推送：小程序现在支持以卡片的形式插入公众号文章中， 展现形式就跟文章中的普通图片一样，当然加减信息在这里建议一篇文章插入小程序的卡片次数要适当，就算推文内容很长插入次数也不要超过8次，多了就会影响文章的阅读性了。
                            5、大号互推：这个的形式跟上面的一样，我们可以跟一些粉丝多的大号合作互推，在他们推送的信息中插入我们小程序的二维码，也能起到很好的引流效果。
                        </div>
                    </div>
              
                </div>
            </li>
        </ul>
    </div>
</div>