<div class="g-section intro" style="color: #ffffff;margin-top: -1px;background: url(/public/styles/picture/joinbg.jpg) center 100% no-repeat;background-size: cover;text-align: center;padding-bottom: 82px;">
    <div class="m-intro">
        <p style="color: #ffffff;font-size: 38px;margin-top: 20px;"  class="u-title1">
            微点应用招募全国合作伙伴共赢市场
        </p>
        <div class="list">
            <div class="item" style="height: 100px;margin-top: 5px;" >
                <p  style="height: 80px;color: #ffffff;font-size: 16px;font-weight: 400;margin-left: 25px;margin-right: 25px;" class="value">
                    微点应用开启小程序合伙人计划，诚邀各位共同发掘小程序千亿蓝海。2017，微信小程序元年，千亿市场等你来!                </p>
            </div>

            <a href="/manage/passport/register.html" data-arm="#j-joinForm"  style="padding-top: 10px;padding-bottom: 10px;padding-left: 25px; padding-right: 25px;" class="u-btn btn-fill" target="_blank">申请成为服务商</a>

        </div>
    </div>
</div>

<div class="j-tabContent"  style="display: block;">
    <div class="g-section g-section-whyme" >
        <div class="m-whyme">
            <h3 class="title1">为什么选择微点应用？</h3>
            <div class="items">
                <div class="itm " >
                    <p class="img">
                        <img src="/public/styles/images/Accounting.png" width="120">
                    </p>
                    <p class="ttl">产品优秀</p>
                    <p class="summary" >
                        在同质化高的产品市场中<br>
                        拥有强势的核心竞争力

                    </p>
                </div>
                <div class="itm" >
                    <p class="img">
                        <img src="/public/styles/images/Check.png" width="120">
                    </p>
                    <p class="ttl">OEM模式</p>
                    <p class="summary" >
                        服务商拥有自己的平台，为代<br>
                        理商保护自我品牌提供技术支撑

                    </p>
                </div>
                <div class="itm">
                    <p class="img">
                        <img src="/public/styles/images/MoneyTransfer.png" width="120">
                    </p>
                    <p class="ttl">收益丰厚</p>
                    <p class="summary">
                        高额的利润空间<br>
                        稳定的产品迭代更新

                    </p>
                </div>
                <div class="itm ">
                    <p class="img">
                        <img src="/public/styles/images/Goal.png" width="120">
                    </p>
                    <p class="ttl">渠道优势</p>
                    <p class="summary">
                        保证市场的规范性<br>
                        充分保证服务商利益


                    </p>
                </div>
                <div class="itm">
                    <p class="img">
                        <img src="/public/styles/images/ReceiveCash.png" width="120">
                    </p>
                    <p class="ttl">服务完善</p>
                    <p class="summary">
                        完善的营销体系和代理培训<br>
                        支持代理伙伴开展推广工作


                    </p>
                </div>
                <div class="itm ">
                    <p class="img">
                        <img src="/public/styles/images/SearchProperty.png" width="120">
                    </p>
                    <p class="ttl">生态共享</p>
                    <p class="summary">
                        加入我们共建小程序第三方市场<br>
                        互惠互利，创造更多价值

                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="g-section g-section-return">
        <div class="m-return">
            <h3 class="title1">代理微点应用，您能获得什么？</h3>
            <div class="items">
                <div class="itm first">
                    <p class="img">
                        <img src="/public/styles/images/project.png" width="70">
                    </p>
                    <p class="ttl">产品支持</p>
                    <p class="summary">
                        服务商可根据第一线市
                        场反馈，经过总部产品
                        部门评估后进行产品优
                        化，促销服务商销售工
                        作。


                    </p>
                </div>
                <div class="itm">
                    <p class="img">
                        <img src="/public/styles/images/Resources.png" width="70">
                    </p>
                    <p class="ttl">资源支持</p>
                    <p class="summary">
                        总部各渠道获取到的资
                        源线索将根据地区、转
                        化率分发给各个服务商
                        服务商将建成更多元的
                        资源获取途径。

                    </p>
                </div>
                <div class="itm">
                    <p class="img">
                        <img src="/public/styles/images/materiel.png" width="70">
                    </p>
                    <p class="ttl">物料支持</p>
                    <p class="summary">
                        总部将定期更新产品物
                        料包括产品手册、使用
                        说、介绍PPT、客户案
                        例等，便于服务商及时
                        获取产品信息。

                    </p>
                </div>
                <br>
                <div class="itm first line2">
                    <p class="img">
                        <img src="/public/styles/images/train.png" width="70">
                    </p>
                    <p class="ttl">培训支持</p>
                    <p class="summary">
                        多元化培训方式，帮助
                        服务商对销售、客服、
                        技术进行业务能力的提
                        高，迅速打造一支战斗
                        力惊人的团队。

                    </p>
                </div>
                <div class="itm line2">
                    <p class="img">
                        <img src="/public/styles/images/market.png" width="70">
                    </p>
                    <p class="ttl">市场支持</p>
                    <p class="summary">
                        展会、交流会、发布会
                        等市场活动，总部给予
                        专业市场支持，指派相
                        关人员协助市场活动开
                        展。

                    </p>
                </div>
                <div class="itm line2">
                    <p class="img">
                        <img src="/public/styles/images/address.png" width="70">
                    </p>
                    <p class="ttl">区域保护</p>
                    <p class="summary">
                        不允许服务商跨区域销
                        售以保证市场的规范性
                        充分保证服务商利益。

                </div>
            </div>
        </div>
    </div>
    <div class="g-section g-section-condition j-condition">
        <div class="m-condition" >
            <h3 class="title1">代理微点应用，您需要具备什么基础条件？</h3>
            <div class="items" >
                <div class="itm first">
                    <p class="img">
                        <img src="/public/styles/images/icon-condition1.png" width="72">
                    </p>
                    <p class="summary">
                        有互联网行业经验者优先<br>
                        具备管理经验者优先
                    </p>
                </div>
                <div class="itm" id="auto-id-1509435496606">
                    <p class="img">
                        <img src="/public/styles/images/icon-condition2.png" width="72">
                    </p>
                    <p class="summary" >
                        5人及以上的销售团队，并拥有专门<br>
                        的售前技术和售后服务体系
                    </p>
                </div>
                <div class="itm">
                    <p class="img">
                        <img src="/public/styles/images/icon-condition3.png" width="72">
                    </p>
                    <p class="summary">
                        认同微点应用发展前景和对形势的<br>判断，双方拥有共同的价值观
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>






