<link rel="stylesheet" href="/public/home/css/index.css"/>
<link rel="stylesheet" href="/public/home/css/join.css"/>
<body>
<div class="join-body">
    <div class="join-item">
        <div class="lt">
            <div class="join-item-title">招商加盟：</div>
            <div class="join-item-text">微点应用诚挚欢迎代理商加盟</div>
            <div class="join-item-text">客服QQ：67930603</div>
            <div class="join-item-text">联系电话：15169991113</div>
            <div class="join-item-text">联系地址：微点应用小程序研发中心</div>
        </div>
        <div class="rt">
            <h4>微点应用微信号：</h4>
            <img src="/public/home/images/yanervip.jpg" width="200" height="250">
        </div>
    </div>
</div>
