<div class="wrapper wrapper-content animated fadeInRight">
    <!-- PAGE CONTENT BEGINS -->
    <div class="row">
        <div class="col-xs-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜索</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="table-responsive">
                            <form class="form-search" method="get" action="<?=url('fitment.yvyue/index')?>" role="form">
                                <table>
                                    <tr>
                                        <td>联系人:<input class="form-control" name="name" id="name" value="<?=$search['name']?>" type="text" placeholder="请输入联系人" style=" width:200px"/></td>
                                        <td>联系方式:<input class="form-control" name="mobile" id="mobile" value="<?=$search['mobile']?>" type="text" placeholder="请输入联系方式" style=" width:200px"/></td>
                                        <td>
                                            <div class="input-group">
                                                <button type="submit" style="margin-top: 42%"
                                                        class="btn form-control btn-sm btn-primary">
                                                    搜索
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="ibox-content">
                <div class="row">
                    <div class="table-responsive">
                        <table id="simple-table" class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>联系人</th>
                                <th>联系方式</th>
                                <th>面积</th>
                                <th>预算</th>
                                <th>地址</th>
                                <th>备注信息</th>
                                <!--<th>沟通状态</th>-->
                                <th>操作</th>
                            </tr>
                            </thead>
                            <form id="mini_list">
                                <tbody>
                                <?php foreach($list as $val){ ?>
                                <tr>
                                    <td><?= $val->yvyue_id ?></td>
                                    <td><?=$val->name?></td>
                                    <td><?=$val->mobile?></td>
                                    <td><?=$val->area?>㎡</td>
                                    <td>￥:<?=$val->price?></td>
                                    <td><textarea><?=$val->address?></textarea></td>
                                    <td><textarea><?=$val->info?></textarea></td>
                                    <td>
                                        <div class="hidden-sm hidden-xs btn-group">
                                            <!--<a title="设置沟通状态" mini="act" href="<?=url('fitment.yvyue/delete','yvyue_id='.$val->yvyue_id)?>" class="btn btn-xs btn-warning"><i class="fa fa-trash bigger-120"></i>设置沟通状态</a>-->
                                            <a title="删除装修预约" mini="act" href="<?=url('fitment.yvyue/delete','yvyue_id='.$val->yvyue_id)?>" class="btn btn-xs btn-warning"><i class="fa fa-trash bigger-120"></i>删除</a>
                                        </div>
                                    </td>
                                </tr>
                                <?php } ?>

                                </tbody>
                            </form>
                        </table>
                        <div>
                            <?php echo $page; ?>
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.main-container -->
            </div>
        </div>
    </div>
</div>
